* {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  max-width: 60vw;
}

nav {
  width: 100vw;
  height: 3rem;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  align-items: center;
  background: #aaa;
}

nav a:last-child {
  margin-left: auto;
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  background: #aaa;
  font-size: 1.2em;
  font-weight: bold;
}

iframe {
  display: none;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

.flex {
  display: flex;
}

@media (max-width: 768px) {
  main {
    max-width: 85vw;
  }
}
